
<div id="formContainer">
    <h1>REGISTER.</h1>
    <form id="formRegister">
        {{!-- input name 1 --}}
    <div class="mb-4">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
    </div>
    {{!-- input date 2 --}}
    <div class="mb-4">
        <input type="date" class="form-control" placeholder="Date of birth">
    </div>
    {{!-- input telephone 3 --}}
    <div class="mb-4">
        <input type="tele" class="form-control" placeholder="Telephone">
    </div>
    {{!-- input email --}}
    <div class="mb-4">
        <input type="email" class="form-control" placeholder="Email">
    </div>
    {{!-- input salary --}}
    <div class="mb-4">
        <input type="password" class="form-control" placeholder="Salary">
    </div>
    {{!-- input marital status --}}
    <div class="mb-4">
        <select class="form-select" aria-label="Default select example">
            <option>Marital status</option>
            <option value="1">Single</option>
            <option value="2">Maried</option>
            <option value="3">Divorced</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="reset" class="btn btn-primary" >
    </form>

</div>